<link rel="stylesheet" type="text/css" href="/css/contact.css">

<div class="container">
    <div class="row">
        <h1>Thank you, {{name}}, for your comment: {{comment}}</h1>
        <div class="comment">
            <a href="/" class="btn btn-sm">Back to the main page</a>
        </div>
    </div>
</div>