<div class="container">

		<!-- Jumbotron -->
		<div class="jumbotron">
			<h1><i class="fas fa-camera-retro"></i> Image Gallery</h1>
			<p>This is an image site</p>
		</div>


		<div class="row">
			<!-- Row 1 of photos -->
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<!-- Row 2 of photos -->
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<!-- Row 3 of photos -->
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img src="http://i.imgur.com/qK42fUu.jpg">
				</div>
			</div>

		</div>
	</div>