<link rel="stylesheet" type="text/css" href="/css/main.css">

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12" id="images">
			<img src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixlib=rb-0.3.5&s=0f35dd76fd205a0a878b02d0a6b4af67&auto=format&fit=crop&w=1350&q=80" class = "image-1 animated fadeIn">
			<img src="https://images.unsplash.com/photo-1532187643603-ba119ca4109e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjIxMTIzfQ&s=fb87043353ae5790e0dff6a270388eb7&auto=format&fit=crop&w=1350&q=80" class = "image-2 hidden">
			<img src="https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7e6ee620a83a58299246d66dd761671e&auto=format&fit=crop&w=1350&q=80" class = "image-3 hidden">
			<img src="https://images.unsplash.com/photo-1532634993-15f421e42ec0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55a205810feb6460c11c5adab7267e32&auto=format&fit=crop&w=1350&q=80" class = "image-4 hidden">
		</div>
	</div>
</div>

<div class="container" id="content">
	<div class="row">
		<div class="col-lg-12">
				<h1>The Pollard Lab</h1>
				<h3>The Scripps Research Institute</h3>
				<h4>La Jolla, CA</h4>
				<hr>
		</div>
		
	</div>
</div>

<script type="text/javascript" src="/scripts/main.js"></script>