<link rel="stylesheet" type="text/css" href="/css/members.css">

<div class="container">
       <h2>Lab Members</h2>

       <div class="container">
        <div class="row">
        <div class="col-lg-4">
          <div class="bio">
            <div class="photo">
              <img src="/images/michael.jpg" alt="Jane Doe" class="member-photo">
            </div>
            <h3 class="title">Michael Scott</h3>
            <h4 class="subtitle">Regional Manager</h4>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip corned beef shoulder venison strip steak flank pork chop, beef jerky meatball. Meatloaf swine ground round beef beef ribs cupim turkey tenderloin. Landjaeger beef sirloin, tri-tip t-bone sausage swine cupim chicken corned beef frankfurter ground round pork chop tail. Jerky meatball shoulder burgdoggen, pork loin venison pastrami chicken shank. Sausage buffalo kevin t-bone andouille, ribeye rump biltong turkey.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bio">
            <div class="photo">
              <img src="/images/dwight.jpeg" alt="John Smith">
            </div>
            <h3 class="title">Dwight Schrute</h3>
            <h4 class="subtitle">Assistant to the Regional Manager</h3>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip corned beef shoulder venison strip steak flank pork chop, beef jerky meatball. Meatloaf swine ground round beef beef ribs cupim turkey tenderloin. Landjaeger beef sirloin, tri-tip t-bone sausage swine cupim chicken corned beef frankfurter ground round pork chop tail. Jerky meatball shoulder burgdoggen, pork loin venison pastrami chicken shank. Sausage buffalo kevin t-bone andouille, ribeye rump biltong turkey.</p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bio">
            <div class="photo">
              <img src="/images/jim.jpeg" alt="Cat McKitty">
            </div>
            <h3 class="title">Jim Halpert</h3>
            <h4 class="subtitle">Sales Associate</h3>
            <p>Spicy jalapeno bacon ipsum dolor amet tri-tip corned beef shoulder venison strip steak flank pork chop, beef jerky meatball. Meatloaf swine ground round beef beef ribs cupim turkey tenderloin. Landjaeger beef sirloin, tri-tip t-bone sausage swine cupim chicken corned beef frankfurter ground round pork chop tail. Jerky meatball shoulder burgdoggen, pork loin venison pastrami chicken shank. Sausage buffalo kevin t-bone andouille, ribeye rump biltong turkey.

</p>
          </div>
        </div>
      </div>

       </div>
    </div>  
  </div>