<link rel="stylesheet" type="text/css" href="/css/research.css">

<div id="features" class="page-section page-section--blue">
    <div class="wrapper">
      <h2 class="section-title"><img class="section-title__icon" src="assets/images/icons/star.svg">
        Our <strong>Features</strong></h2>
      
      <div class="row row--gutters-large generic-content-container">

        <div class="row__medium-6">
        	<h3 class="feature-item__title">We&rsquo;ll Watch the Weather</h3>
          <div class="feature-item">
            <img class="feature-item__icon" src="assets/images/icons/rain.svg">
            <p>Susceptibility to autoimmune disease can be impacted by environmental factors which encompass everything around us including the air we breathe, the water we drink, the food we eat, synthetic and natural chemicals, microorganisms, radiation, industrial by-products, and physical factors. Epidemiological analysis has suggested that exposure to mercury can be associated with increased risk of autoimmunity. Mercury exposure can occur in many ways including skin care products such as skin lightening creams, and also during artisanal gold mining. The human populations at risk of exposure are sizable and diverse. Mercury is used by small scale gold miners in 50 developing countries and is a major source of mercury contamination in the associated rural communities. It is believed that between 10-15 million people, including women and children are directly involved in artisanal gold mining.</p>

			<p> Murine mercury–induced autoimmunity (mHgIA) can be induced by numerous exposure routes and chemical forms including subcutaneous injection or oral ingestion of mercuric chloride (HgCl2), inhalation of mercury vapor, and dental or peritoneal implantation of mercury containing dental amalgam. The severity of disease is dependent upon strain, gender and exposure dose. The features of mHgIA, including lymphadenopathy, hypergammaglogulinemia, humoral autoimmunity, and immune-complex deposits, are consistent with the systemic autoimmunity of systemic lupus erythematosus (SLE). The most characteristic aspect of autoimmunity induced by mercury is an MHC-restricted autoantibody response against fibrillarin, a nucleolar protein component of the box C/D small nucleolar ribonucleoprotein (snoRNP) complexes. Anti-fibrillarin antibodies are found in systemic autoimmune diseases SLE and scleroderma.</p>
          </div>
          
          <div class="feature-item">
            <img class="feature-item__icon" src="assets/images/icons/globe.svg">
            <h3 class="feature-item__title">Global Guides</h3>
            <p>We&rsquo;ve scoured the entire planet for the best retreats and beautiful vistas. If there&rsquo;s a corner of the world you want to escape to we know the most scenic and inspiring locations.</p>
          </div>
        </div>

        <div class="row__medium-6">
          <div class="feature-item">
            <img class="feature-item__icon" src="assets/images/icons/wifi.svg">
            <h3 class="feature-item__title">Wi-Fi Waypoints</h3>
            <p>We only send you on trips to places we can personally vouch for as being amazing. Which means we&rsquo;ve mapped out where local wi-fi spots are and marked them in our app&rsquo;s map view.</p>
          </div> 
          
          <div class="feature-item">
            <img class="feature-item__icon" src="assets/images/icons/fire.svg">
            <h3 class="feature-item__title">Survival Kit</h3>
            <p>Everytime you book an escape with us we send you a survival kit with the finest materials. The kit will allow you to setup a tent, start a fire, scratch your own back and lower your taxes.</p>
          </div>
        </div>
      </div>

      <h3>References</h3>
      <ul>
      	<li>Pollard KM, Hultman P, Kono DH. Toxicology of autoimmune diseases. Chem. Res. Toxicol. 2010. 23:455-66.</li>
      	<li>Pollard KM and Landberg GP. The in vitro proliferation of murine lymphocytes to mercuric chloride is restricted to mature T cells and is interleukin 1 dependent. Int. Immunopharm. 2001. 1:581-593.</li>
      	<li>Cauvi DM, Cauvi G, Pollard KM. Reduced expression of decay-accelerating factor 1 on CD4+ T cells in murine systemic autoimmune disease. Arthritis. Rheum. 2007. 56:1934-44.</li>
      	<li>Toomey CB, Cauvi DM, Song WC, Pollard KM. Decay-accelerating factor 1 (Daf1) deficiency exacerbates xenobiotic-induced autoimmunity. Immunology. 2010. 131:99-106.</li>
      	<li>Cauvi DM, Toomey CB, Pollard KM. Depletion of complement does not impact initiation of xenobiotic-induced autoimmune disease. Immunology. 2011 Dec 5. doi: 10.1111/j.1365-2567.2011.03545.x. [Epub ahead of print]</li>
      	<li>Pollard KM, Pearson DL, Hultman P, Hildebrandt B, Kono DH. Lupus-prone mice as models to study xenobiotic-induced acceleration of systemic autoimmunity. Environ. Health. Perspect. 1999. 107 Suppl 5:729-35.</li>
      	<li>Pollard KM, Pearson DL, Hultman P, Deane TN, Lindh U, Kono DH. Xenobiotic acceleration of idiopathic systemic autoimmunity in lupus-prone bxsb mice. Environ. Health. Perspect. 2001. 109:27-33.</li>
      	<li>Kono DH, Balomenos D, Pearson DL, Park MS, Hildebrandt B, Hultman P, Pollard KM. The prototypic Th2 autoimmunity induced by mercury is dependent on IFN-gamma and not Th1/Th2 imbalance. J. Immunol. 1998. 161:234-40.</li>
      	<li>Kono DH, Park MS, Szydlik A, Haraldsson KM, Kuan JD, Pearson DL, Hultman P, Pollard KM. Resistance to xenobiotic-induced autoimmunity maps to chromosome 1. J. Immunol. 2001. 167:2396-403.</li>
      	<li>Pollard KM, Arnush M, Hultman P, Kono DH. Costimulation requirements of induced murine systemic autoimmune disease. J. Immunol. 2004. 173:5880-7.</li>
      </ul>