body {
	border: 20px solid #bdc3c7;
	margin: 20px auto;
	padding: 20px;
	max-width: 700px; /*at max, make 700px*/
	width: 80%; /*when it becomes less than 700px, take up 80% of page*/
	font-family: 'Helvetica', 'Arial';
	font-weight: 400;
}

.post {
	margin-bottom: 20px;
	height:300px;
	overflow:auto;
}

.title {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 0.2rem;
	font-weight: 600;
}

.references {
	border-left: 5px solid #bdc3c7;
	padding-left: 10px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
